<div class="modal fade" id="selectedImageModal" >
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="selectedImage">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{selectedImage.title}}</h4>
      </div>
      <div class="modal-body" id="modalBody" #modalBody>
        <div style="overflow:hidden" (swipeleft)="swipe($event.type)" (swiperight)="swipe($event.type)" class="selectedImage" (pinch)="onPinch($event)" (pan)="onPan($event)" (panend)="onPanEnd($event)">
				   <img id="imageDiv" src="{{selectedImage.url}}" class="img-responsive">
				</div>
        <div class="arrow-back" (click)=navigate(false)>
            &lt;
         </div>
         <div class="arrow-forward" (click)=navigate(true)>
            &gt;
         </div> 
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row imageTiles">
    <div *ngFor="let image of datasource" class="col-lg-3 col-md-3 col-sm-3 col-xs-6 imageDiv">
      <img src="{{image.url}}" class="img-responsive">
      <div class="descriptionLayer" data-toggle="modal" data-target="#selectedImageModal" (click)=setSelectedImage(image)>
        <p class="description">
          {{image.title}}
        </p>
      </div>
    </div>
  </div>
</div>
