.descriptionLayer{
	position: absolute;
	top: 0;
  bottom: 0;
  left: 15px;
  right: 15px;
  background: rgba(36, 62, 206, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}
.imageDiv:hover .descriptionLayer{
	visibility: visible;
	opacity: 1;
}
.description{
	transition: .2s;
	transform: translateY(1em);
}
.imageDiv:hover .description{
	transform: translateY(0);
}
.modal{
	text-align: center;
}
.caption{
	position:absolute;
  height:70px;
	width:100%;
	top:410;
	left:0;
	opacity:0.9;
	background-color:black;
	color:white;
	padding:5px;
	font-family:verdana;
	font-size:12px;
}
p {
   -webkit-margin-before: 5px !important;
   -webkit-margin-after: 5px !important;
}
.selectedImage{
	position: relative;
}
.modal-body{
	position: relative;
}
.arrow-back, .arrow-forward{
	position:absolute;
	opacity:0.9;
	background-color:black;
	padding:10px;
	top:calc(50% - 20px);
	color:white;
	text-weight:bold;
	cursor:pointer;
}
.arrow-forward{
	right:15px;
}
div.imageDiv{
	height: 200px;
	margin-top: 5px;
	margin-bottom: 5px;
	position: relative;
	cursor: pointer;
}
div.imageDiv img{
	object-fit: cover;
	box-shadow:#999 1px 1px 3px 1px;
	height: 100%;
	width: 100%;
}